# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

src/bin/
*.dep
*.gz

doc/CervettoMarchiPeckerMarcosig-TP1-SED2017_v1\.log

*.aux

*.toc

# logs
test/*.log[0-9][0-9]
test/*.log

*.blg

*.bbl

doc/TP2/CervettoMarchiPeckerMarcosig-TP2-SED2017_v1\.log
